BOT_TOKEN=
CHECK_INTERVAL=60
ENABLE_YAHOO_AUCTION=true
ENABLE_MERCARI=true
DO_NOT_RUN_START_HOUR=2
DO_NOT_RUN_END_HOUR=6
TZ="Asia/Shanghai"
LANGUAGE="zh-CN"    # languages list: https://cloud.google.com/translate/docs/languages